a {
  color: inherit;
  text-decoration: none;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}
.maximo-card {
  max-width: 940px;
}
.imagen-card {
  width: 100%;
  height: 600px;
}
